.gradle/
.gradle-user-home/
.idea/
.vscode/
.kotlin/
.android-home/
**/*.iml
**/build/
backups/
app/default/release/
keystore.properties
keystore/
local.properties
*.jks
*.keystore
*.p12
*.pfx
*.apk
*.aab
*.apks
*.idsig
.env
.env.*
*~
Thumbs.db
.DS_Store
